@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@700&family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@700&family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@700&family=Lovers+Quarrel&family=Roboto:wght@300;500;700;900&display=swap");
.containerRoot {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid gray; }
  .containerRoot .headerBlock {
    display: flex; }
    .containerRoot .headerBlock .logo {
      width: 50%; }
      .containerRoot .headerBlock .logo img {
        height: 650px;
        width: 100%; }
    .containerRoot .headerBlock .headerMenu {
      width: 50%; }
      .containerRoot .headerBlock .headerMenu .menu ul {
        display: flex;
        justify-content: space-around; }
        .containerRoot .headerBlock .headerMenu .menu ul li {
          display: inline-block; }
          .containerRoot .headerBlock .headerMenu .menu ul li a {
            font-family: "Old Standard TT", serif;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            color: #202020;
            text-decoration: none; }
          .containerRoot .headerBlock .headerMenu .menu ul li a:hover {
            text-decoration: underline; }
          .containerRoot .headerBlock .headerMenu .menu ul li button {
            background-color: white;
            border: 1px solid #555555;
            transition-duration: 0.4s;
            font-family: "Old Standard TT", serif;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            color: #202020;
            width: 145px;
            height: 35px;
            margin-top: -10px; }
          .containerRoot .headerBlock .headerMenu .menu ul li button:hover {
            background-color: #000;
            color: white; }
      .containerRoot .headerBlock .headerMenu .titleBlock {
        position: relative; }
        .containerRoot .headerBlock .headerMenu .titleBlock .name {
          font-family: "Lora", serif;
          font-style: normal;
          font-weight: 400;
          font-size: 70px;
          line-height: 70px;
          color: #202020;
          margin-top: 130px;
          margin-bottom: 0;
          margin-left: 45px; }
        .containerRoot .headerBlock .headerMenu .titleBlock .photographer {
          margin-top: 0;
          margin-left: 45px;
          font-family: "Lovers Quarrel", serif;
          font-style: normal;
          font-weight: 400;
          font-size: 40px;
          line-height: 68px;
          color: #202020; }
        .containerRoot .headerBlock .headerMenu .titleBlock .moto {
          width: 215px;
          margin-left: 45px;
          font-family: "Old Standard TT", serif;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          color: #393939; }
        .containerRoot .headerBlock .headerMenu .titleBlock img {
          position: absolute;
          top: 230px;
          left: 340px; }
  .containerRoot .abouteMeBlock {
    border: 2px solid red;
    display: flex;
    margin-top: 20px; }
    .containerRoot .abouteMeBlock .textBlock {
      width: 48%; }
      .containerRoot .abouteMeBlock .textBlock .bigTitle {
        font-family: "Old Standard TT", serif;
        font-style: normal;
        font-weight: 400;
        font-size: 50px;
        color: #202020;
        line-height: 99px;
        margin-left: 70px; }
      .containerRoot .abouteMeBlock .textBlock .littleTitle {
        font-family: "Lovers Quarrel", serif;
        font-style: normal;
        font-weight: 400;
        font-size: 50px;
        line-height: 5px;
        color: #D5D5D5;
        margin-top: -8px;
        margin-left: 170px; }
      .containerRoot .abouteMeBlock .textBlock .textMeBlock {
        font-family: "Old Standard TT", serif;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 22px;
        color: #393939;
        margin-top: 70px;
        margin-left: 40px; }
      .containerRoot .abouteMeBlock .textBlock .social {
        margin-top: 210px;
        display: flex;
        justify-content: space-around; }
        .containerRoot .abouteMeBlock .textBlock .social .line {
          width: 100px; }
        .containerRoot .abouteMeBlock .textBlock .social .icons {
          width: 32px;
          height: 32px;
          transition-duration: 0.4s; }
        .containerRoot .abouteMeBlock .textBlock .social .icons:hover {
          background-color: #000;
          border-radius: 8px; }
    .containerRoot .abouteMeBlock .photoMe {
      width: 52%; }
      .containerRoot .abouteMeBlock .photoMe img {
        width: 85%;
        height: 586px; }
  .containerRoot .portfolioBlock {
    margin-top: 80px;
    border: 2px solid green; }
    .containerRoot .portfolioBlock .textBlock {
      border: 2px solid red;
      text-align: center; }
      .containerRoot .portfolioBlock .textBlock .bigTitle {
        width: 380px;
        height: 40px; }
      .containerRoot .portfolioBlock .textBlock .littleTitle {
        font-family: "Lovers Quarrel", serif;
        font-style: normal;
        font-weight: 400;
        font-size: 50px;
        line-height: 5px;
        color: #D5D5D5;
        margin-top: -8px;
        margin-left: 170px; }
    .containerRoot .portfolioBlock .photoPartfolioBlock {
      border: 2px solid red;
      display: flex; }
      .containerRoot .portfolioBlock .photoPartfolioBlock .block1 {
        width: 28%;
        margin-left: 80px; }
        .containerRoot .portfolioBlock .photoPartfolioBlock .block1 .photo1 {
          width: 299px;
          height: 340px; }
        .containerRoot .portfolioBlock .photoPartfolioBlock .block1 .photo2 {
          width: 299px;
          height: 340px; }
        .containerRoot .portfolioBlock .photoPartfolioBlock .block1 .photo3 {
          width: 299px;
          height: 320px; }
        .containerRoot .portfolioBlock .photoPartfolioBlock .block1 .photo4 {
          width: 299px;
          height: 349px; }
      .containerRoot .portfolioBlock .photoPartfolioBlock .block2 {
        width: 44%;
        margin-top: 45px; }
        .containerRoot .portfolioBlock .photoPartfolioBlock .block2 .photo5 {
          width: 420px;
          height: 340px; }
        .containerRoot .portfolioBlock .photoPartfolioBlock .block2 .photo6 {
          width: 420px;
          height: 265px; }
        .containerRoot .portfolioBlock .photoPartfolioBlock .block2 .photo7 {
          width: 420px;
          height: 395px; }
        .containerRoot .portfolioBlock .photoPartfolioBlock .block2 .photo8 {
          width: 420px;
          height: 305px; }
      .containerRoot .portfolioBlock .photoPartfolioBlock .block3 {
        width: 28%;
        margin-top: 20px;
        margin-right: 80px; }
        .containerRoot .portfolioBlock .photoPartfolioBlock .block3 .photo9 {
          width: 299px;
          height: 300px; }
        .containerRoot .portfolioBlock .photoPartfolioBlock .block3 .photo10 {
          width: 299px;
          height: 342px; }
        .containerRoot .portfolioBlock .photoPartfolioBlock .block3 .photo11 {
          width: 299px;
          height: 331px; }
        .containerRoot .portfolioBlock .photoPartfolioBlock .block3 .photo12 {
          width: 299px;
          height: 357px; }
    .containerRoot .portfolioBlock .buttonPortfolioBlock {
      display: flex;
      justify-content: center; }
      .containerRoot .portfolioBlock .buttonPortfolioBlock .buttonPortfolio {
        background-color: white;
        border: 1px solid #555555;
        transition-duration: 0.4s;
        font-family: "Lora", serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;
        color: #202020;
        margin-top: 70px;
        width: 410px;
        height: 65px; }
      .containerRoot .portfolioBlock .buttonPortfolioBlock .buttonPortfolio:hover {
        background-color: #000;
        color: white; }
  .containerRoot .reviewsBlock .textReviewsBlock .bigTitle {
    font-family: "Old Standard TT", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    color: #202020;
    line-height: 40px;
    margin-top: 70px;
    margin-left: 70px;
    margin-bottom: 0; }
  .containerRoot .reviewsBlock .textReviewsBlock .littleTitle {
    font-family: "Lovers Quarrel", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 5px;
    color: #D5D5D5;
    margin-left: 166px;
    margin-top: 24px; }
  .containerRoot .reviewsBlock .textReviewsBlock .selectorBlock {
    font-size: 100%;
    font-family: "Helvetica Neue", sans-serif; }
    .containerRoot .reviewsBlock .textReviewsBlock .selectorBlock a {
      color: #79b6e4;
      text-decoration: none; }
    .containerRoot .reviewsBlock .textReviewsBlock .selectorBlock img {
      max-width: 100%; }
    .containerRoot .reviewsBlock .textReviewsBlock .selectorBlock .cd-testimonials-wrapper {
      position: relative;
      width: 90%;
      max-width: 768px;
      background-color: #39393c;
      margin: 2em auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      padding: 20px 40px 70px;
      z-index: 1; }
    .containerRoot .reviewsBlock .textReviewsBlock .selectorBlock .cd-testimonials-wrapper::after {
      /* quotation mark */
      content: "“";
      position: absolute;
      top: 10px;
      left: 0;
      width: 50px;
      height: 50px;
      padding-top: 8px;
      margin-left: -25px;
      background: rgba(32, 32, 34, 0.9);
      font-family: "Georgia", serif;
      color: #ffffff;
      font-size: 70px;
      font-size: 4.375rem;
      text-align: center;
      /* visible on big devices only */
      display: none; }
    .containerRoot .reviewsBlock .textReviewsBlock .selectorBlock .cd-testimonials-wrapper {
      margin: 4em auto;
      padding: 64px 50px 114px; }
    .containerRoot .reviewsBlock .textReviewsBlock .selectorBlock .cd-testimonials-wrapper::after {
      /* quotation mark visible */
      display: block; }
    .containerRoot .reviewsBlock .textReviewsBlock .selectorBlock .cd-testimonials {
      color: #ffffff;
      text-align: center; }
    .containerRoot .reviewsBlock .textReviewsBlock .selectorBlock .cd-testimonials::after {
      clear: both;
      content: "";
      display: table; }
    .containerRoot .reviewsBlock .textReviewsBlock .selectorBlock .cd-testimonials > li {
      position: absolute;
      opacity: 0; }
    .containerRoot .reviewsBlock .textReviewsBlock .selectorBlock .cd-testimonials > li:first-child {
      position: relative;
      opacity: 1; }
    .containerRoot .reviewsBlock .textReviewsBlock .selectorBlock .cd-testimonials p {
      font-family: "Georgia", serif;
      font-style: italic;
      line-height: 1.4;
      margin-bottom: 1em;
      padding: 0 14px; }
    .containerRoot .reviewsBlock .textReviewsBlock .selectorBlock .cd-testimonials p {
      font-size: 22px;
      font-size: 1.375rem; }
    .containerRoot .reviewsBlock .textReviewsBlock .selectorBlock .cd-testimonials p {
      font-size: 26px;
      font-size: 1.625rem;
      line-height: 1.6; }
    .containerRoot .reviewsBlock .textReviewsBlock .selectorBlock .cd-author img, .containerRoot .reviewsBlock .textReviewsBlock .selectorBlock .cd-author .cd-author-info {
      display: inline-block;
      vertical-align: middle; }
    .containerRoot .reviewsBlock .textReviewsBlock .selectorBlock .cd-author img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      margin-right: 5px;
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.3); }
    .containerRoot .reviewsBlock .textReviewsBlock .selectorBlock .cd-author .cd-author-info {
      text-align: left;
      line-height: 1.2; }
    .containerRoot .reviewsBlock .textReviewsBlock .selectorBlock .cd-author .cd-author-info li:first-child {
      font-size: 14px;
      font-size: 0.875rem; }
    .containerRoot .reviewsBlock .textReviewsBlock .selectorBlock .cd-author .cd-author-info li:last-child {
      font-size: 12px;
      font-size: 0.75rem;
      color: #6b6b70; }
    .containerRoot .reviewsBlock .textReviewsBlock .selectorBlock .cd-author img {
      width: 50px;
      height: 50px; }
    .containerRoot .reviewsBlock .textReviewsBlock .selectorBlock .cd-author .cd-author-info {
      line-height: 1.4; }
    .containerRoot .reviewsBlock .textReviewsBlock .selectorBlock .cd-author .cd-author-info li:first-child {
      font-size: 16px;
      font-size: 1rem; }
    .containerRoot .reviewsBlock .textReviewsBlock .selectorBlock .cd-author .cd-author-info li:last-child {
      font-size: 14px;
      font-size: 0.875rem; }
    .containerRoot .reviewsBlock .textReviewsBlock .selectorBlock .flex-direction-nav li {
      position: absolute;
      height: 100%;
      width: 40px;
      top: 0; }
    .containerRoot .reviewsBlock .textReviewsBlock .selectorBlock .flex-direction-nav li:first-child {
      left: 0; }
    .containerRoot .reviewsBlock .textReviewsBlock .selectorBlock .flex-direction-nav li:last-child {
      right: 0; }
    .containerRoot .reviewsBlock .textReviewsBlock .selectorBlock .flex-direction-nav li a {
      display: block;
      height: 100%;
      width: 100%;
      /* image replacement */
      overflow: hidden;
      text-indent: 100%;
      white-space: nowrap;
      -webkit-transition: background-color 0.2s;
      -moz-transition: background-color 0.2s;
      transition: background-color 0.2s; }
    .containerRoot .reviewsBlock .textReviewsBlock .selectorBlock .no-touch .flex-direction-nav li a:hover {
      background-color: #323234; }
    .containerRoot .reviewsBlock .textReviewsBlock .selectorBlock .flex-direction-nav li a::before, .containerRoot .reviewsBlock .textReviewsBlock .selectorBlock .flex-direction-nav li a::after {
      /* left and right arrows in css only */
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      width: 2px;
      height: 13px;
      background-color: #ffffff; }
    .containerRoot .reviewsBlock .textReviewsBlock .selectorBlock .flex-direction-nav li a::before {
      -webkit-transform: translateY(-35px) rotate(45deg);
      -moz-transform: translateY(-35px) rotate(45deg);
      -ms-transform: translateY(-35px) rotate(45deg);
      -o-transform: translateY(-35px) rotate(45deg);
      transform: translateY(-35px) rotate(45deg); }
    .containerRoot .reviewsBlock .textReviewsBlock .selectorBlock .flex-direction-nav li a::after {
      -webkit-transform: translateY(-27px) rotate(-45deg);
      -moz-transform: translateY(-27px) rotate(-45deg);
      -ms-transform: translateY(-27px) rotate(-45deg);
      -o-transform: translateY(-27px) rotate(-45deg);
      transform: translateY(-27px) rotate(-45deg); }
    .containerRoot .reviewsBlock .textReviewsBlock .selectorBlock .flex-direction-nav li:last-child a::before {
      -webkit-transform: translateY(-35px) rotate(-45deg);
      -moz-transform: translateY(-35px) rotate(-45deg);
      -ms-transform: translateY(-35px) rotate(-45deg);
      -o-transform: translateY(-35px) rotate(-45deg);
      transform: translateY(-35px) rotate(-45deg); }
    .containerRoot .reviewsBlock .textReviewsBlock .selectorBlock .flex-direction-nav li:last-child a::after {
      -webkit-transform: translateY(-27px) rotate(45deg);
      -moz-transform: translateY(-27px) rotate(45deg);
      -ms-transform: translateY(-27px) rotate(45deg);
      -o-transform: translateY(-27px) rotate(45deg);
      transform: translateY(-27px) rotate(45deg); }
    .containerRoot .reviewsBlock .textReviewsBlock .selectorBlock .flex-direction-nav li {
      width: 50px; }
    .containerRoot .reviewsBlock .textReviewsBlock .selectorBlock .flex-direction-nav li a::before, .containerRoot .reviewsBlock .textReviewsBlock .selectorBlock .flex-direction-nav li a::after {
      background-color: #5e5e63;
      -webkit-transition: background-color 0.2s;
      -moz-transition: background-color 0.2s;
      transition: background-color 0.2s; }
    .containerRoot .reviewsBlock .textReviewsBlock .selectorBlock .flex-direction-nav li a:hover::before, .containerRoot .reviewsBlock .textReviewsBlock .selectorBlock .flex-direction-nav li a:hover::after {
      background-color: #ffffff; }
    .containerRoot .reviewsBlock .textReviewsBlock .selectorBlock .cd-see-all {
      position: absolute;
      z-index: 1;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 50px;
      line-height: 50px;
      background-color: #252527;
      text-align: center;
      text-transform: uppercase;
      color: #6b6b70;
      font-weight: 700;
      font-size: 12px;
      font-size: 0.75rem;
      -webkit-transition: color, 0.2s;
      -moz-transition: color, 0.2s;
      transition: color, 0.2s; }
    .containerRoot .reviewsBlock .textReviewsBlock .selectorBlock .no-touch .cd-see-all:hover {
      color: #79b6e4; }
    .containerRoot .reviewsBlock .textReviewsBlock .selectorBlock .cd-testimonials-all {
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: #ffffff;
      z-index: 2;
      visibility: hidden;
      opacity: 0;
      -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
      -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
      transition: opacity 0.3s 0s, visibility 0s 0.3s; }
    .containerRoot .reviewsBlock .textReviewsBlock .selectorBlock .cd-testimonials-all .cd-testimonials-all-wrapper {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      overflow: auto; }
    .containerRoot .reviewsBlock .textReviewsBlock .selectorBlock .cd-testimonials-all .cd-testimonials-all-wrapper > ul {
      width: 90%;
      max-width: 1170px;
      margin: 4em auto; }
    .containerRoot .reviewsBlock .textReviewsBlock .selectorBlock .cd-testimonials-all .cd-testimonials-all-wrapper > ul::after {
      clear: both;
      content: "";
      display: table; }
    .containerRoot .reviewsBlock .textReviewsBlock .selectorBlock .cd-testimonials-all .cd-testimonials-item {
      margin-bottom: 2em;
      opacity: 0;
      /* Force Hardware Acceleration in WebKit */
      -webkit-transform: translate3d(0, 0, 0) scale(0.4);
      -moz-transform: translate3d(0, 0, 0) scale(0.4);
      -ms-transform: translate3d(0, 0, 0) scale(0.4);
      -o-transform: translate3d(0, 0, 0) scale(0.4);
      transform: translate3d(0, 0, 0) scale(0.4);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
      -moz-transition: -moz-transform 0.3s, opacity 0.3s;
      transition: transform 0.3s, opacity 0.3s; }
    .containerRoot .reviewsBlock .textReviewsBlock .selectorBlock .cd-testimonials-all p {
      position: relative;
      background: #79b6e4;
      color: #ffffff;
      padding: 2em;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      line-height: 1.4;
      border-radius: 0.25em;
      margin-bottom: 1em; }
    .containerRoot .reviewsBlock .textReviewsBlock .selectorBlock .cd-testimonials-all p::after {
      /* creating the triangle in css */
      content: "";
      position: absolute;
      top: 100%;
      left: 2em;
      height: 0;
      width: 0;
      border: 8px solid transparent;
      border-top-color: #79b6e4; }
    .containerRoot .reviewsBlock .textReviewsBlock .selectorBlock .cd-testimonials-all .cd-author {
      text-align: left;
      margin-left: 1.5em; }
    .containerRoot .reviewsBlock .textReviewsBlock .selectorBlock .cd-testimonials-all .cd-author img {
      box-shadow: 0 0 0 transparent; }
    .containerRoot .reviewsBlock .textReviewsBlock .selectorBlock .cd-testimonials-all.is-visible {
      visibility: visible;
      opacity: 1;
      -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
      -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
      transition: opacity 0.3s 0s, visibility 0s 0s; }
    .containerRoot .reviewsBlock .textReviewsBlock .selectorBlock .cd-testimonials-all.is-visible .cd-testimonials-all-wrapper {
      -webkit-overflow-scrolling: touch; }
    .containerRoot .reviewsBlock .textReviewsBlock .selectorBlock .cd-testimonials-all.is-visible .cd-testimonials-item {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0) scale(1);
      -moz-transform: translate3d(0, 0, 0) scale(1);
      -ms-transform: translate3d(0, 0, 0) scale(1);
      -o-transform: translate3d(0, 0, 0) scale(1);
      transform: translate3d(0, 0, 0) scale(1); }
    .containerRoot .reviewsBlock .textReviewsBlock .selectorBlock .cd-testimonials-all .cd-testimonials-item {
      width: 46%;
      margin: 0 2% 3em; }
    .containerRoot .reviewsBlock .textReviewsBlock .selectorBlock .cd-testimonials-all .cd-author {
      margin-left: 1em; }
    .containerRoot .reviewsBlock .textReviewsBlock .selectorBlock .cd-testimonials-all .cd-testimonials-item {
      width: 30%;
      margin: 0 1.6666% 3em; }
    .containerRoot .reviewsBlock .textReviewsBlock .selectorBlock .close-btn {
      position: fixed;
      display: block;
      width: 40px;
      height: 40px;
      top: 10px;
      right: 5%;
      /* image replacement */
      overflow: hidden;
      text-indent: 100%;
      white-space: nowrap; }
    .containerRoot .reviewsBlock .textReviewsBlock .selectorBlock .close-btn::before, .containerRoot .reviewsBlock .textReviewsBlock .selectorBlock .close-btn::after {
      /* close icon in css */
      content: "";
      position: absolute;
      display: inline-block;
      width: 2px;
      height: 24px;
      top: 8px;
      left: 19px;
      background-color: #39393c; }
    .containerRoot .reviewsBlock .textReviewsBlock .selectorBlock .close-btn::before {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    .containerRoot .reviewsBlock .textReviewsBlock .selectorBlock .close-btn::after {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }

/*# sourceMappingURL=style.css.map */
